*~
build**/
deploy**
doc/gen/*

bin
obj

.vs
*.user
*.filters
*.sln
*.vcxproj
*.make
Makefile

VHDL_out

doc
vhdl
*.vcd
*.dot
*.svg

*.vhd
*.v
*.filter
*.gtkw
*.surfer
*.testvectors
work-obj08.cf

db
incremental_db
output_files
*.qws
iverilog_test
